[Unit]
Description=Start Svpn GUI
Requires=fluxbox.service
Requires=securelink.service
After=fluxbox.service
After=Securelink.service

[Service]
Type = simple
Environment=DISPLAY=:0
ExecStart=/opt/SecureLink/securelink --no-sandbox
ExecStop=/usr/bin/kill -HUP $MAINPID
#Restart = always
#RestartSec = 10

[Install]
WantedBy = multi-user.target
